services:

  db:
    image: docker.io/pgvector/pgvector:pg17@sha256:1a5ea285a159bed991c74a9c4751b6eadc536b3c3263f3f95ec3865885a62b69
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secrete
      POSTGRES_DB: ragdb
    ports:
      - 5432:5432
    volumes:
      - blograg_pgdata:/var/lib/postgresql/data

  adminer:
    image: docker.io/library/adminer:latest@sha256:ceee80fff5c4404dfd63109d67dd3d2ccfda4111ce3c04d5ad11794c35154c8b
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db

volumes:
  blograg_pgdata:
