services:

  db:
    image: docker.io/pgvector/pgvector:pg17@sha256:9ae02a756ba16a2d69dd78058e25915e36e189bb36ddf01ceae86390d7ed786a
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: secrete
      POSTGRES_DB: ragdb
    ports:
      - 5432:5432
    volumes:
      - blograg_pgdata:/var/lib/postgresql/data

  adminer:
    image: docker.io/library/adminer:latest@sha256:ceee80fff5c4404dfd63109d67dd3d2ccfda4111ce3c04d5ad11794c35154c8b
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - db

volumes:
  blograg_pgdata:
